body
{
  
  padding:10px;
  font-size:clamp(14px,1.8vw,22px);
}

img{
  max-width:100%;
}

h1,h2,p,ul,img{
  margin:10px;
}

ul{
  list-style-position:inside;
}

 h2{
  color:#0082CE;
  border-bottom: 2px solid #0082CE;
}

.container{
  display:table;
  max-width:800px;
  box-sizing:border-box;
  margin:auto;
  padding:15px;
  border-radius:8px;
  box-shadow:0 0 5px rgba(0,0,0,0.25);
}

header{
  display:flex;
  flex-direction:column;
  align-items:center;
}

header h1{
  width:fit-content;
  background-color:#EFEFEF;
  padding:15px;
  border-radius:16px;
}

header img{
  width:clamp(120px,23vw,200px);
  border-radius:100%;
  box-shadow:0 0 8px rgba(0,0,0,0.5);
}

main p, main ul{
  background-color:#EFEFEF;
  border-radius:8px;
  padding:10px;
}

.contactos ul{
  list-style-type:none;
}

.contactos a {
  text-decoration:none;
  color:#4C84EB;
  font-family:fantasy;
}

.contactos a:hover{
  color:Blue;
  text-decoration:underline;
}

footer p{
  text-align:center;
  font-style:italic;
  border-top:1px solid #ccc;
  padding:10px;
}
